<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t(:login) %></h3>
      </div>
      <div class="card-body">
        <%= form_with url: sessions_create_path, method: :post, local: true do |f| %>
          <div class="form-group mb-3">
            <div class="form-floating">
              <%= f.text_field :username, class: 'form-control', id: 'username-floating-input', placeholder: User.human_attribute_name(:username), autocomplete: false %>
              <label for="username-floating-input"><%= User.human_attribute_name(:username) %></label>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="form-floating">
              <%= f.password_field :password, class: 'form-control', placeholder: true %>
              <label for="username-floating-input"><%= User.human_attribute_name(:password) %></label>
            </div>
          </div>
          <div class="form-footer">
            <%= f.submit t(:login), class: 'btn btn-primary' %>
            <%= link_to 'Criar Conta' new_user_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
