<table class="table" id="company-users-table">
  <a data-controller="companies" data-action="click->companies#addCompanyUser" class="btn btn-success">Adicionar Colaboradores</a>
  <thead class="table-dark">
    <tr>
      <th scope="col"><%= CompanyUser.model_name.human %></th>
      <th scope="col"><%= CompanyUser.human_attribute_name(:role) %></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for(:company_users) do |company_user| %>
      <tr data-controller="select2">
        <td><%= f.collection_select :user_id, User.all, :id, :full_name, class: 'form-control select2' %></td>
        <%#= TODO: Translate roles %>
        <td><%= f.collection_select :role, CompanyUser::ROLES.values, :to_s, :to_s, class: 'form-control select2' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
