<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t(:new_female) %> <%= Company.model_name.human %></h3>
      </div>
      <div class="card-body">
        <%= form_with model: @company, method: :post, local: true do |f| %>

          <div class="form-group mb-3">
            <label class="form-label required"><%= t(:name) %></label>
            <div>
              <%= f.text_field :name, class: 'form-control', placeholder: t(:name) %>
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="form-label required"><%= Company.human_attribute_name(:address) %></label>
            <div>
              <%= f.text_field :address, class: 'form-control', placeholder: Company.human_attribute_name(:address) %>
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="form-label required"><%= Company.human_attribute_name(:zip_code) %></label>
            <div>
              <%= f.text_field :zip_code, class: 'form-control', placeholder: Company.human_attribute_name(:zip_code) %>
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="form-label required"><%= Company.human_attribute_name(:location) %></label>
            <div>
              <%= f.text_field :location, class: 'form-control', placeholder: Company.human_attribute_name(:location) %>
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="form-label required"><%= Company.human_attribute_name(:nif) %></label>
            <div>
              <%= f.number_field :nif, class: 'form-control', placeholder: Company.human_attribute_name(:nif) %>
            </div>
          </div>


          <div class="form-group mb-3">
            <label class="form-label"><%= Company.human_attribute_name(:license_number) %></label>
            <div>
              <%= f.text_field :license_number, class: 'form-control', placeholder: Company.human_attribute_name(:license_number) %>
            </div>
          </div>

          <div class="form-footer">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
