<!DOCTYPE html>
<html>
  <head>
    <title>Gestão de Faturação</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="antialiased">
    <div class="wrapper">
      <%= render 'layouts/shared/navbar/navbar' %>
      <div class="page-wrapper">
        <%= yield %>
        <%= render 'layouts/shared/footer' %>
      </div>
    </div>
  </body>
</html>
